TOURNAMENTSIZE_15_MUTRATE_0.005_MAXGENS_5000_CHANGERATE_100000_SELECTION_0_K_3_POPSIZE_200_N_20
TOURNAMENTSIZE_15_MUTRATE_0.01_MAXGENS_5000_CHANGERATE_100000_SELECTION_0_K_3_POPSIZE_200_N_100
TOURNAMENTSIZE_15_MUTRATE_0.05_MAXGENS_5000_CHANGERATE_100000_SELECTION_0_K_10_POPSIZE_200_N_20
TOURNAMENTSIZE_15_MUTRATE_0.05_MAXGENS_5000_CHANGERATE_100000_SELECTION_0_K_3_POPSIZE_2000_N_20
TOURNAMENTSIZE_15_MUTRATE_0.05_MAXGENS_5000_CHANGERATE_100000_SELECTION_0_K_3_POPSIZE_200_N_20
TOURNAMENTSIZE_15_MUTRATE_0.05_MAXGENS_5000_CHANGERATE_100000_SELECTION_0_K_3_POPSIZE_20_N_20
TOURNAMENTSIZE_15_MUTRATE_0.05_MAXGENS_5000_CHANGERATE_100000_SELECTION_1_K_3_POPSIZE_200_N_20
TOURNAMENTSIZE_15_MUTRATE_0.05_MAXGENS_5000_CHANGERATE_500_SELECTION_0_K_3_POPSIZE_200_N_20
TOURNAMENTSIZE_15_MUTRATE_0.1_MAXGENS_5000_CHANGERATE_100000_SELECTION_0_K_3_POPSIZE_200_N_20
fitness.csv
oee.csv
oee_data.csv
population.csv
systematics.csv
run_experiments.sh~
NOTES
.vscode/
N_100_K_3_POPSIZE_200_MUTRATE_0.01_TOURNAMENTSIZE_15_SELECTION_0_CHANGERATE_100000_MAXGENS_5000
N_100_K_3_POPSIZE_200_MUTRATE_0.01_TOURNAMENTSIZE_15_SELECTION_0_CHANGERATE_100000_MAXGENS_5000_FILTERLENGTH_50
N_100_K_3_POPSIZE_200_MUTRATE_0.01_TOURNAMENTSIZE_2_SELECTION_0_CHANGERATE_100000_MAXGENS_5000_FILTERLENGTH_50
N_20_K_10_POPSIZE_200_MUTRATE_0.05_TOURNAMENTSIZE_15_SELECTION_0_CHANGERATE_100000_MAXGENS_5000
N_20_K_10_POPSIZE_200_MUTRATE_0.05_TOURNAMENTSIZE_15_SELECTION_0_CHANGERATE_100000_MAXGENS_5000_FILTERLENGTH_50
N_20_K_10_POPSIZE_200_MUTRATE_0.05_TOURNAMENTSIZE_2_SELECTION_0_CHANGERATE_100000_MAXGENS_5000_FILTERLENGTH_50
N_20_K_3_POPSIZE_2000_MUTRATE_0.05_TOURNAMENTSIZE_15_SELECTION_0_CHANGERATE_100000_MAXGENS_5000
N_20_K_3_POPSIZE_2000_MUTRATE_0.05_TOURNAMENTSIZE_15_SELECTION_0_CHANGERATE_100000_MAXGENS_5000_FILTERLENGTH_50
N_20_K_3_POPSIZE_2000_MUTRATE_0.05_TOURNAMENTSIZE_2_SELECTION_0_CHANGERATE_100000_MAXGENS_5000_FILTERLENGTH_50
N_20_K_3_POPSIZE_200_MUTRATE_0.005_TOURNAMENTSIZE_15_SELECTION_0_CHANGERATE_100000_MAXGENS_5000
N_20_K_3_POPSIZE_200_MUTRATE_0.005_TOURNAMENTSIZE_15_SELECTION_0_CHANGERATE_100000_MAXGENS_5000_FILTERLENGTH_50
N_20_K_3_POPSIZE_200_MUTRATE_0.005_TOURNAMENTSIZE_2_SELECTION_0_CHANGERATE_100000_MAXGENS_5000_FILTERLENGTH_50
N_20_K_3_POPSIZE_200_MUTRATE_0.05_TOURNAMENTSIZE_15_SELECTION_0_CHANGERATE_100000_MAXGENS_5000
N_20_K_3_POPSIZE_200_MUTRATE_0.05_TOURNAMENTSIZE_15_SELECTION_0_CHANGERATE_100000_MAXGENS_5000_FILTERLENGTH_50
N_20_K_3_POPSIZE_200_MUTRATE_0.05_TOURNAMENTSIZE_15_SELECTION_0_CHANGERATE_500_MAXGENS_5000
N_20_K_3_POPSIZE_200_MUTRATE_0.05_TOURNAMENTSIZE_15_SELECTION_0_CHANGERATE_500_MAXGENS_5000_FILTERLENGTH_50
N_20_K_3_POPSIZE_200_MUTRATE_0.05_TOURNAMENTSIZE_15_SELECTION_1_CHANGERATE_100000_MAXGENS_5000
N_20_K_3_POPSIZE_200_MUTRATE_0.05_TOURNAMENTSIZE_15_SELECTION_1_CHANGERATE_100000_MAXGENS_5000_FILTERLENGTH_50
N_20_K_3_POPSIZE_200_MUTRATE_0.05_TOURNAMENTSIZE_2_SELECTION_0_CHANGERATE_100000_MAXGENS_5000_FILTERLENGTH_50
N_20_K_3_POPSIZE_200_MUTRATE_0.05_TOURNAMENTSIZE_2_SELECTION_0_CHANGERATE_500_MAXGENS_5000_FILTERLENGTH_50
N_20_K_3_POPSIZE_200_MUTRATE_0.05_TOURNAMENTSIZE_2_SELECTION_1_CHANGERATE_100000_MAXGENS_5000_FILTERLENGTH_50
N_20_K_3_POPSIZE_200_MUTRATE_0.1_TOURNAMENTSIZE_15_SELECTION_0_CHANGERATE_100000_MAXGENS_5000
N_20_K_3_POPSIZE_200_MUTRATE_0.1_TOURNAMENTSIZE_15_SELECTION_0_CHANGERATE_100000_MAXGENS_5000_FILTERLENGTH_50
N_20_K_3_POPSIZE_200_MUTRATE_0.1_TOURNAMENTSIZE_2_SELECTION_0_CHANGERATE_100000_MAXGENS_5000_FILTERLENGTH_50
N_20_K_3_POPSIZE_20_MUTRATE_0.05_TOURNAMENTSIZE_15_SELECTION_0_CHANGERATE_100000_MAXGENS_5000
N_20_K_3_POPSIZE_20_MUTRATE_0.05_TOURNAMENTSIZE_15_SELECTION_0_CHANGERATE_100000_MAXGENS_5000_FILTERLENGTH_50
N_20_K_3_POPSIZE_20_MUTRATE_0.05_TOURNAMENTSIZE_2_SELECTION_0_CHANGERATE_100000_MAXGENS_5000_FILTERLENGTH_50
../analysis/.Rhistory
../analysis/OEE_cache/
../analysis/OEE_files/
run
run.log
.Rhistory
OEE_cache/
OEE_files/
